#results-page{
  
  background: #fafafa;

  .v-item-group.v-bottom-nav{
    box-shadow: none;
    border-top: 3px solid #f0f0f0 !important;
    box-sizing: border-box;
  }
  
  .vote-box{
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    .flip-card__top, 
    .flip-card__bottom, 
    .flip-card__back-bottom, 
    .flip-card__back::before, 
    .flip-card__back::after{
      background: #fff;
      border: none;
      color: #000;
    }
    .vote-box__deadline{
      background: #fff;
      padding: 30px 0;
      margin-top: -200px;
      position: relative;
      z-index: 8;
      border-radius: 15px;
      width: 90%;
    }
    
    .logo{
      font-size: 32px;
      margin: 0px auto 80px;
      color: #000;
      text-transform: uppercase;
    }
  }

  .candidates-card__img img{
    object-fit: cover;
    height: 90px;
    border-radius: 12px;
  }
  .voteRate{
    background: #fafafa;
    width: 100%;
    margin-top: 12px;
    padding: 5px 10px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
  }
}